{% extends 'base.html' %}

{% block content %}
<div class="about-section">
    <h1>About Me</h1>
    <p>Hello! I'm Vitor Lopes Barbato, a developer passionate about technology and programming. I have a little experience in different technologies and I am always looking for new challenges.</p>

    <h2>Academic Training</h2>
    <ul>
        <li>Bachelor of Computer Science - UniMAX - Max Planck University Center of the UniEduK Group - Studying</li>
    </ul>

    <h2>No Professional Experience</h2>
    <ul>
        <!-- Adicione itens aqui conforme necessário -->
    </ul>
</div>
{% endblock %}
